<link rel="stylesheet" href="/css/add-task.css">
<div class="row mt-4 justify-content-center">
  <div class="col-lg-6 col-md-12">

    <form class="form new-task-form">
      {{#if update}}
      <h3>Update Task:</h3>
      {{else}}
      <h3>Create a New Task:</h3>
      {{/if}}
      {{!-- task title --}}
      <div>
        <label id="id" for="task-title-input" data-id="{{task.id}}">Task Title:</label>
        <input type="text" id="task-title-input" {{#if update}} value="{{task.title}}"{{/if}}/>
      </div>
      {{!-- task description/body --}}
      <div>
        <label for="task-body-input">Task Body:</label>
        <textarea id="task-body-input" cols="30" rows="10">{{#if update}} {{task.description}} {{/if}}</textarea>
      </div>
      {{!-- task state --}}
      {{!-- in progress, completed, hiatus, abandoned, planned --}}
      <div>
        <label for="task-state-input">Task Status:</label>
        <select name="" id="task-state-input">
          <option value="in-progress" {{#if (and update (ifeq task.state "in-progress"))}}selected{{/if}}>In Progress</option>
          <option value="completed" {{#if (and update (ifeq task.state "completed"))}}selected{{/if}}>Completed</option>
          <option value="hiatus" {{#if (and update (ifeq task.state "hiatus"))}}selected{{/if}}>Hiatus</option>
          <option value="abandoned" {{#if (and update (ifeq task.state "abandoned"))}}selected{{/if}}>Abandoned</option>
          <option value="todo" {{#if (and update (ifeq task.state "todo"))}}selected{{/if}}>Planned</option>
        </select>
      </div>
      {{!-- public/private switch --}}
      <div>
        <label for="task-visibility-input">Make Public:</label>
        <input type="checkbox" name="" id="task-visibility-input">
      </div>
      <div class="form-group">
        <button id="button" type="submit" class="btn-task btn-primary">{{#if update}}Save{{else}}Create{{/if}}</button>
      </div>
    </form>
  </div>
</div>
{{#if update}} 
<script src="/js/editTask.js"></script>
{{else}}
<script src="/js/addTask.js"></script>
{{/if}}