<link rel="stylesheet" href="/css/task-page.css">
<link rel="stylesheet" href="/css/user.css">
<section>
    <h2>Profile:</h2>
    <p>Name: {{users.first_name}} {{users.last_name}}, Username: {{users.username}}</p>
    <a href="mailto: {{users.email}}">Contact via email</a>
    {{#if logged_in}}
        {{#if friends}}
             <p class="add-friend">{{users.username}} is your friend!</p>
        {{else}}
            {{#if (ifeq users.id user.id)}} 
            {{else}}
            <button class="button-4 add-friend" data-id="{{users.user.id}}" data-user_id="{{user.id}}" data-username="{{users.username}}" id="add-friend">Add to friends</button>
            <script src="/js/user.js"></script>
            {{/if}}           
        {{/if}}
    {{/if}}
</section>
<section>
    {{#if tasks}}
    {{#each tasks as |task|}}
    {{> task-card}}
    {{/each}}
    {{else}}
    <h3>No posts yet...</h3>
    {{/if}}
</section>


